@font-face {
  font-family: 'pokemon';
  src: url('/Pokemon\ Solid.ttf')
}
body {
  background: linear-gradient(to bottom, red 50%, white 50%);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 5rem;
  /* margin-top: rem; */
  font-family: pokemon;
  letter-spacing: 6px;
  color: #ffcc02;
    text-shadow:
      -6px -6px 0 #3a59a3,
      6px -6px 0 #3a59a3,
      -6px 6px 0 #3a59a3,
      6px 6px 0 #3a59a3,
      -8px 0px 0 #3a59a3,
      8px 0px 0 #3a59a3,
      0px -8px 0 #3a59a3,
      0px 8px 0 #3a59a3,
      -10px 0px 0 #3a59a3,
      10px 0px 0 #3a59a3,
      0px -10px 0 #3a59a3,
      0px 10px 0 #3a59a3;
}

input {
  width: 30%;
  padding: 12px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}


input:focus {
  border-color: #3a59a3;
  box-shadow: 0 0 8px rgba(58, 89, 163, 0.5);
}

.button-50 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-50:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-50 {
    padding: 0.25em 0.75em;
  }
}