@font-face {
  font-family: 'pokemon';
  src: url('/Pokemon\ Solid.ttf')
}
h1{
  font-size: 5rem;
  margin-top: 5rem;
  font-family: pokemon;
  letter-spacing: 6px;
  color: #ffcc02;
    text-shadow:
      -6px -6px 0 #3a59a3,
      6px -6px 0 #3a59a3,
      -6px 6px 0 #3a59a3,
      6px 6px 0 #3a59a3,
      -8px 0px 0 #3a59a3,
      8px 0px 0 #3a59a3,
      0px -8px 0 #3a59a3,
      0px 8px 0 #3a59a3,
      -10px 0px 0 #3a59a3,
      10px 0px 0 #3a59a3,
      0px -10px 0 #3a59a3,
      0px 10px 0 #3a59a3;
}
input {
  width: 30%;
  padding: 12px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}


input:focus {
  border-color: #3a59a3;
  box-shadow: 0 0 8px rgba(58, 89, 163, 0.5);
}
